@font-face {
    font-family: SairaLight;
    src: url("../assets/fonts/Saira_SemiExpanded-Light.ttf");
}

@font-face {
    font-family: SairaExtraBold;
    src: url("../assets/fonts/Saira_SemiExpanded-ExtraBold.ttf");
}

@font-face {
    font-family: SairaMedium;
    src: url("../assets/fonts/Saira_SemiExpanded-Medium.ttf");
}

.SairaLight {
    font-family: SairaLight;
}
.SairaExtraBold {
    font-family: SairaExtraBold;
}
.SairaMedium {
    font-family: SairaMedium;
}